@charset "utf-8";
/* @import "common.css";
@import "reset (1).css"; */


#join_section .join>h3 {
    margin: 10px 0 50px;
    font-size: 20.8px;
    position: relative;
    padding-bottom: 5px;
    color: #7c7c7c;
}

#join_section .join>h3:after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #ddd;
}

#join_section table {
    border: 1px solid #ddd;
}

#join_section table input {
    padding: 2px 4px;
    border: 1px solid #ccc;
    width: 15%;
}

#join_section table td:first-child {
    background-color: #fbfafa;
    color: #000;
}

#join_section table tr td {
    padding: 11px 0 10px 18px;
}

#join_section table tr td:first-child {
    width: 20%;
}

#join_section table label {
    color: #7c7c7c;
}

#join_section table td:first-child label:after {
    content: " *";
    color: red;
    line-height: 1.5;
}

#join_section table tr:nth-child(5) td:nth-child(2) .sell_num,
#join_section table tr:nth-child(5) td:nth-child(2) input {
    width: 7%;
    /* label테그가 셀렉트테그를 감싸고있으므로 값을변경해준다 */
}


#join_section table tr:nth-child(5) td:nth-child(2) select {
    width: 100%;
    -webkit-appearance: none;
    background: transparent;
    z-index: 999999;
    position: relative;
    border: #ccc 1px solid;
    padding: 2px 4px;
    /* label테그가 넓이값을 가졋으므로 안에있는 셀렉트 값이 넓이의 100%를 잡아야한다 */
}

#join_section table tr:nth-child(5) td:nth-child(2) .sell_num {
    position: relative;
    display: inline-block;
    /* 포지션값이 들어가서 디스플레이값을변경해줘야한다 */
}

/* /* #section table tr:nth-child(5) td:nth-child(2) .sell_num:after{ */
/* content: '\f0dd'; */
/* font-family: 'font awesome 5 free'; */
/* font-weight: 900; */
/* color: #f00; */
/* vertical-align: middle; */
/* display: inline-block; */
/* transform: translate(-15px,-3px); */
/* line-height: 20px; */
/* } */

#join_section table tr:nth-child(5) td:nth-child(2) .sell_num:after {
    content: '';
    display: inline-block;
    z-index: 9999;
    width: 10px;
    height: 7px;
    position: absolute;
    top: 9px;
    right: 5px;
    background-image: url(../images/sprite_img.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: -196px -103px;
}





#join_section .join {
    padding-bottom: 60px;
}

#join_section .accept input[type=checkbox] {
    transform: scale(1.5);
    width: 13px;
    height: 14px;
    display: none;

}

#join_section .accept p {
    color: #000;
}

#join_section .accept label {
    margin-left: 10px;
}

#join_section .accept label:before {
    content: '\f0c8';
    font-family: 'Font Awesome 5 Free';
    font-weight: 400;
    color: #ccc;
    padding-right: 5px;
    padding-top: 10px;
    display: inline-block;
    /* transform: scale(1.5); */
}

#join_section .accept input[type=checkbox]:checked+label:before {
    content: '\f14a';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: #ccc;
    padding-right: 5px;
}


#join_section .accept>h3 {
    margin: 10px 0 50px;
    font-size: 20.8px;
    position: relative;
    padding-bottom: 5px;
    color: #7c7c7c;
}

#join_section .accept>h3:after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #ddd;
}


#join_section .accept>div {
    padding: 20px;
    background-color: #fbfafa;
    border: 1px #ccc solid;
}

#join_section .accept>div form>h4 {
    margin-bottom: 20px;
    color: #7c7c7c;
}

#join_section .accept>div:nth-child(2) input {
    /* width: 100%; */
}

#join_section .accept>div:nth-child(2) p {
    font-size: 18.2px;
    color: #353535;
    font-weight: bold;
}

#join_section .accept>div .textarea {
    width: 100%;
    height: 120px;
    border: #fff;
    /* resize: none; */
    background-color: #fff;
    color: #7c7c7c;
    padding: 20px;
    margin-bottom: 10px;
    overflow-y: auto;
    letter-spacing: 1.5px;
    line-height: 1.5;
}



#join_section .accept>div:nth-child(3) {
    border-top: none;
}

#join_section .accept>div:nth-child(4) {
    border-top: none;
}

#join_section .accept>div:nth-child(5) {
    border-top: none;
}

#join_section .accept>div:nth-child(5) form>p {
    padding-bottom: 10px;
}

#join_section .join_com {
    padding: 30px 0;
    text-align: center;
}

#join_section .join_com button {
    background-color: #222;
    padding: 10px 8px;
    font-size: 12px;
    color: #fff;
    width: 120px;
    height: 40px;
}

#join_section .join_com button span {
    font-size: 12px;
}